:root {
    --main-background-color: rgb(30, 30, 30);
    --main-accent-color: #E90802;
    --image-border-color: #E90802;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(40, 40, 40);
    background-repeat: no-repeat;
    height: 100%;
    
}

header {
    margin-left: 1%;
    padding: 1% 2%;
}

p.info {
    padding:1% 2%;
    padding-right: 7%;
    margin-top: 3%;

    color: var(--main-accent-color);
    background-image: url(./assets/designs/TextBackground2.png);
    background-size:cover;
    background-size: 100%;
    background-repeat: no-repeat;


    width: 45%;

    font-size: 1vw;

    text-align: left;

    font-family: sans-serif;
}

img.info{
    border-width: 1vm;
    border-radius: 2.5%;
    border-color: var(--image-border-color);
    border-style: solid;

    padding: 1%;

    margin: auto;

    width: 30%;

    background-color:var(--main-background-color);

    object-fit:scale-down;
}

div.info {
    /*background-color: white;*/

    display:flex;
    padding-top: 3%;
    margin:auto;

    width: 100%;
}

div.banner {
    position: sticky;
    top: 0;
    display:flex;
    background-color: var(--main-background-color);
    color: var(--main-accent-color);

    padding: 1% 2.5%;
    border-left-width: 0px;
    margin: 0px;

    border-color: white;
    border-style: solid;

    /*border-style: solid;
    border-color: var(--main-accent-color);
    border-bottom-width: thin;*/


    text-align: center;
    font-size: 5vw;
    font-style: italic;

    font-family: "Audiowide", Courier, monospace;
}
/*TODO: fix <a> and image attribute not fitting image on bottom height wise */
a {
    width: 7%;
    background-color: blue;
    position: relative;
    


    transition-timing-function: ease-in-out;
    transition: 
    width .5s,
    transform .5s;
}

img.home {
    width: 100%;
    
    border-color: white;
    border-style: solid;
    border-width: thin;
}

a:hover {
    width: 8%;
    transform: translate(-5%, -5%);
}

p {
    color: var(--main-accent-color);
}