/*TODO: fix <a> and image attribute not fitting image on bottom height wise */
@import url(./css/pagesetup.css);
@import url(./css/information.css);
@import url(./css/collection.css);

p {
    color: var(--main-accent-color);
}

.tester {
    background-color: white;
    z-index: 1001;
    position: fixed;
    top: 0%;
}